.view {
  &-container {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    background-color: var(--el-color-surface);
  }

  &-header {
    margin-bottom: 16px;
  }

  &-content {
    display: inline-flex;
    gap: 16px;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
  }
}

.home-card {
  width: calc(33% - 10px);
  min-width: 200px;
  height: 16vh;
  max-height: 160px;
  min-height: 120px;

  box-shadow: 0 4px 4px 0 #00000040;
}
