:root.dark {
  --el-color-black: #131419;
  --el-color-white: #ffffff;
  --el-color-primary: #6ba5ff;
  --el-color-secondary: #83aff2;
  --el-color-on-primary: #031e59;
  --el-color-on-secondary: #031e59;
  --el-color-success: #7cfb98;
  --el-color-warning: #ffde7a;
  --el-color-on-warning: #242424;
  --el-color-danger: #ff97a1;
  --el-color-error: #ff97a1;
  --el-color-on-error: #340404;
  --el-color-info: #bdbdbd;

  --el-color-surface: #131419;
  --el-color-on-surface: #ffffff;
  --el-color-on-surface-variant: #bdbdbd;

  --el-color-neutral-1: #212227;
  --el-color-neutral-2: #1a1b20;
  --el-color-neutral-3: #080809;
  --el-color-on-neutral-3: #d8d8d8;
  --el-color-neutral-4: #28292e;
  --el-color-neutral-5: #28292e;
  --el-color-on-neutral-variant: #bdbdbd;
  --el-color-typography: #ffffff;
}
