.users-view {
  &__header {
    width: 100%;
    display: inline-flex;
  }

  &__section {
    margin-top: 32px;
    padding-left: 45px;
  }
}

.page-title {
  flex-grow: 1;
  flex-basis: 0;
}

.actions-wrapper {
  flex-grow: 1;
  flex-basis: 0;
  gap: 8px;
  display: inline-flex;
  align-items: flex-end;
}

.users-list {
  &-container {
    gap: 16px;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &-item {
    height: 180px;

    width: calc(25% - 12px);
    @media screen and (max-width: 1270px) {
      width: calc(50% - 12px);
    }
  }
}

.without-options {
  height: 120px;
}
