.os {
  &-container {
    padding: 12px;
    border-radius: 16px;
    border: 1px solid var(--el-color-neutral-4);
    background-color: var(--el-color-neutral-2);
    display: flex;
    gap: 8px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &-bell-icon {
    color: var(--el-color-on-surface);
  }

  &-count {
    font-size: 1rem;
    font-weight: 800;
    color: var(--el-color-on-surface);
  }

  &-count-container {
    margin-left: auto;
    height: fit-content;
    padding: 0.25rem 0.5rem;
    background-color: var(--el-color-neutral-2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border-radius: 20px;
  }
}

.alert-icon {
  color: $typography !important;

  &--success {
    color: $success !important;
  }

  &--warning {
    color: $warning !important;
  }

  &--danger {
    color: $danger !important;
  }
}
