.container {
  width: 30%;
}

.photo-container {
  margin-top: 1rem;
}

.image-upload-container {
  display: flex;
  justify-content: space-between;
}

.users-view {
  &__header {
    width: 100%;
    display: inline-flex;
  }

  &__section {
    margin-top: 32px;
    padding-left: 45px;
  }
}

.page-title {
  flex-grow: 1;
  flex-basis: 0;
}

.actions-wrapper {
  flex-grow: 1;
  flex-basis: 0;
  gap: 8px;
  display: inline-flex;
  align-items: flex-end;
}

.users-list {
  &-container {
    gap: 16px;
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &-item {
    height: 180px;
    width: calc(25% - 12px);
  }
}

.without-options {
  height: 120px;
}

.data-type-select {
  width: 100%;
}

.divider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-width: 2px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  &-bottom {
    margin-top: 16px;
  }
}

.modal-content {
  text-align: center;
  margin-bottom: 1rem;
}
