*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  font-family: $body-font-family, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.slide-enter-active,
.slide-leave-active {
  overflow-x: hidden !important;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.slide-enter-from {
  overflow-x: hidden !important;
  opacity: 0;
  transform: translateX(-30%);
}

.slide-leave-to {
  overflow-x: hidden !important;
  opacity: 0;
  transform: translateX(30%);
}
